#full{
    height: 1000px;
    width: 1500px;
    background-color: white;
}
#head1{
    height: 125px;
    width: 1480px;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    
}
#home{
    margin-top: 30px;
    margin-left: -450px;
}
#Bio{
    margin-top: -20px;
    margin-left: -250px;
}
#Bio{
    margin-top: -20px;
    margin-left: -250px;
}
#Portfolio{
    margin-top: -20px;
    margin-left: 0px;
}
#Skills{
    margin-top: -20px;
    margin-left: 250px;
}
#Contact{
    margin-top: -20px;
    margin-left: 500px;
}
#n{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#end{
    height: 100px;
    width: 1480px;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    align-content: center;

}